  <style>
    .content {
      margin-left: 250px;
      padding: 20px;
    }
  </style>
<div class="container mt-4">
    <h2>Payment Methods</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Bank Account</h3>
        <% if @bank_account %>
          <p><strong>Bank Name:</strong> <%= @bank_account.bank_name %></p>
          <p><strong>Account Number:</strong> <%= @bank_account.account_number %></p>
          <%= link_to 'Edit Bank Account', new_bank_account_path, class: 'btn btn-primary' %>
        <% else %>
          <p>No bank account information available.</p>
          <%= link_to 'Add Bank Account', new_bank_account_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h3>Wallet</h3>
        <% if @wallet %>
          <p><strong>Provider:</strong> <%= @wallet.provider %></p>
          <p><strong>Wallet Number:</strong> <%= @wallet.wallet_number %></p>
          <p><strong>Balance:</strong> <%= @wallet.balance %></p>
          <%= link_to 'Edit Wallet', edit_wallet_path(@wallet), class: 'btn btn-primary' %>
        <% else %>
          <p>No wallet information available.</p>
          <%= link_to 'Add Wallet', new_wallet_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>