<!-- app/views/bank_accounts/_form.html.erb -->
<%= form_with(model: @bank_account, local: true) do |form| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank account from being saved:</h2>
      <ul>
        <% @bank_account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name %>
  </div>
  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number %>
  </div>
  <div class="field">
    <%= form.label :iban %>
    <%= form.text_field :iban %>
  </div>
  <div class="field">
    <%= form.label :swift_code %>
    <%= form.text_field :swift_code %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
