<!-- app/views/surveys/show.html.erb -->
<h1><%= @survey.title %></h1>
<p><strong>Description:</strong> <%= @survey.description %></p>
<p><strong>Reward:</strong> <%= @survey.reward %></p>
<p><strong>Start Date:</strong> <%= @survey.start_date %></p>
<p><strong>End Date:</strong> <%= @survey.end_date %></p>
<p><strong>Active:</strong> <%= @survey.active %></p>

<%= link_to 'Edit', edit_category_product_survey_path(@category, @product, @survey), class: 'btn btn-warning' %>
<%= link_to 'Back', category_product_path(@category, @product), class: 'btn btn-secondary' %>
<h2>Questions</h2>
<%= link_to 'New Question', new_category_product_survey_question_path(@category, @product, @survey), class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @survey.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= link_to 'Show', category_product_survey_question_path(@category, @product, @survey, question), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_category_product_survey_question_path(@category, @product, @survey, question), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', category_product_survey_question_path(@category, @product, @survey, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>