 <style>
        .category-card, .product-card {
            margin-bottom: 20px;
        }
        .navbar-custom {
            background-color: #333;
        }
        .navbar-custom .navbar-nav .nav-link {
            color: #fff;
        }
        .carousel-inner img {
            width: 100%;
            height: 300px;
        }
        .carousel .carousel-item img {
            filter: brightness(50%); /* Lower percentage = darker image */
        }
    </style>
<!-- app/views/categories/index.html.erb -->
<div class="container mt-4">
  <div id="carouselExampleIndicators" class="carousel slide carousel-border" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <%= image_tag("/img_1.jpg", class: "d-block w-100", alt: "...") %>
          </div>
          <div class="carousel-item">
              <%= image_tag("/img_2.jpg", class: "d-block w-100", alt: "...") %>
          </div>
          <div class="carousel-item">
              <%= image_tag("/img_3.jpg", class: "d-block w-100", alt: "...") %>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  
  <div class="text-center mt-5">
    <h3>Categories we target to survey</h3>
    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary text-white mb-3' %>
  <div class="d-flex  mt-4">
    <div class="d-flex flex-fill mx-2">
      <% @categories.each do |category| %>
          <%= link_to category.name, category_path(category), class: 'btn btn-outline-secondary mx-1' %>
      <% end %>
    </div>
  </div>
  
  <div class="mt-5">
    <div class="card category-card">
      <div class="card-body">
        <h5 class="card-title">What We Do</h5>
        <h6 class="card-subtitle mb-2 text-muted">Subtitle here</h6>
        <p class="card-text">I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</p>
        <a href="#" class="btn btn-primary">See More</a>
        <a href="#" class="btn btn-secondary">Share</a>
      </div>
    </div>

    <div class="card category-card">
      <div class="card-body">
        <h5 class="card-title">Why Us</h5>
        <h6 class="card-subtitle mb-2 text-muted">Subtitle here</h6>
        <p class="card-text">I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</p>
        <a href="#" class="btn btn-primary">See More</a>
        <a href="#" class="btn btn-secondary">Share</a>
      </div>
    </div>

    <div class="card category-card">
      <div class="card-body">
        <h5 class="card-title">How It Works</h5>
        <h6 class="card-subtitle mb-2 text-muted">Subtitle here</h6>
        <p class="card-text">I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</p>
        <a href="#" class="btn btn-primary">See More</a>
        <a href="#" class="btn btn-secondary">Share</a>
      </div>
    </div>

    <div class="card category-card">
      <div class="card-body">
        <h5 class="card-title">What Is In For You</h5>
        <h6 class="card-subtitle mb-2 text-muted">Subtitle here</h6>
        <p class="card-text">I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</p>
        <a href="#" class="btn btn-primary">See More</a>
        <a href="#" class="btn btn-secondary">Share</a>
      </div>
    </div>
  </div>
</div>

