<!-- app/views/transactions/_form.html.erb -->
<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, User.all, :id, :email, prompt: 'Select Receiver' %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, [['Pay for Survey', 'pay_for_survey'], ['Answer Survey', 'answer_survey']] %>
  </div>
  <div class="field">
    <%= form.label :payment_method %>
    <%= form.select :payment_method, [['Bank Account', 'bank_account'], ['Wallet', 'wallet']] %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Transaction' %>
  </div>
<% end %>
