<!-- app/views/products/show.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <h4>Target Group</h4>
      <p><%= @product.target_group %></p>
      <h4>About Publisher</h4>
      <p><%= @product.about_publisher %></p>
      <h4>Price</h4>
      <p><%= @product.price %> $</p>
      <%= link_to 'Back to Category', categories_path(@category), class: 'btn btn-secondary' %>
    </div>
  </div>
<%= link_to 'New Survey', new_category_product_survey_path(@product.category, @product), class: 'btn btn-primary' %>
  <h3 class="mt-5">Available Surveys</h3>
  <ul class="list-group mt-4">
    <% @surveys.each do |survey| %>
      <li class="list-group-item">
        <%= link_to survey.title, category_product_survey_path(@category, @product, survey) %>
      </li>
    <% end %>
  </ul>
</div>
